:root {
  --background: #e6eaec;
  --color: #6a6c6d;
  --backgroundSecondary: #dbdde0;
  --backgroundtertiary: #eff0f2;
}


*, ::after, ::before {
margin:0;
padding:0;
box-sizing:border-box;
}

body {
  background-color: var(--background);
  color: var(--color);
  padding:10px;
}

.clock_container {
  width:80%;
  display: flex;
  margin: 50px auto 20px;
  display: flex;
  justify-content: center;
  gap:50px;
  font-size: 1.5em;
}

.field-text 
{
  width:80%;
  margin: 0 auto 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.field-text input {
  width:250px;
  background-color: transparent;
  border: 2px solid var(--color);
  padding: 5px 0 5px 10px;
  border-radius: 17px;
  outline: 1px solid transparent;
  transition: .3s;
}

.field-text input:focus {
  outline:1px solid rgb(28, 45, 202) ;
}

.field-text p {
  display: flex;
  height:100%;
  align-items: center;
}

h1 {
  margin : 20px 0;
  text-align: center;
  background-clip: text; 
  font-size: 50px;
}

.cards {
  background-color: var(--backgroundtertiary);
  border-radius: 10px;
  padding:10px ;
  box-shadow: 7px 7px 3px var(--backgroundSecondary);
}

.forecast-container {
  display: grid;
  width:100%;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-auto-flow: row;
  gap:10px;
  margin-top: 10px;
  flex-wrap: wrap;
  justify-content: center;
}

.weather-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap:5px;
}

.weather-item p {
  text-align: center;
}

.details-weather {
  position: absolute;
  left: calc(50% - 150px);
  top: calc(50% - 125px);
  height:250px;
  width:300px;
  
}

.close-icon {
  cursor: pointer;
}


.header-details {
  display: flex;
  justify-content: space-between;
}


.button-details {
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  background: var(--backgroundSecondary);
  color: #171717;
  cursor: pointer;
}


.button-details[disabled] {
  color:#acacac
}

.weather-today {
  margin: auto;
  width:100%;
  background-color: var(--backgroundtertiary);
  border-radius: 10px;
  padding:10px ;
  box-shadow: 7px 7px 3px var(--backgroundSecondary);
  display: flex;
  justify-content: space-evenly;
}


.overlay {
  width:100vw;
  height:100vh;
  position: absolute;
  top:0;
  background-color: rgba(219, 221, 224, 0.8);
}

.city-input {
  text-transform: capitalize;
}